.container-input{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container-origin{ margin: 12px 0px }

input{
    margin-bottom: 0px;
}

label {
    margin-top: 4px;
}